@using Logic.Employee
@{
    ViewData["Title"] = "Staff Send Availability";
}
@using Logic.Companys
@model Planning_Generator.Models.AvailabilityStaff_M
<div class="text-center">
    <p class="display-4">Verstuur jouw beschikbaarheid!</p>
</div>
<br />
<br />
<<form method="post" asp-controller="Staff" asp-action="SendAvailibility">
    <div class="form-group">
        <label for="WeekAvailability">Week Availability:</label>
        <input type="number" name="WeekAvailability" min="1" max="52" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Company_Name">Company Name:</label>
        <select name="Company_Name" class="form-control" required>
            @foreach (var company in LogicRefecator.CompanyModelManager.Companies)
            {
                 <option value="@company.Name">@company.Name.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="DayOfWeek">Day of Week:</label>
        <select name="DayOfWeek" class="form-control" required>
            @foreach (DayOfWeek day in Enum.GetValues(typeof(Logic.Enum.DayOfWeek)))
            {
                <option value="@day">@day</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="KindOfShift">Shift Hour:</label>
        <select name="KindOfShift" class="form-control" required>
            @foreach (var shift in Enum.GetValues(typeof(Logic.Enum.ShiftHour)))
            {
                <option value="@shift">@shift</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@if (ViewData["Message"] != null)
{
    <div class="alert alert-@ViewData["MessageType"] role="alert">
        @ViewData["Message"]
    </div>
}



    <div class="mb-3">
        <a class="btn btn-outline-primary" asp-action="Shedule">Zie rooster</a>
    </div>

    @if (CurrentActive<StaffMember>.Current.Role == Logic.Enum.CompanyRole.Manager)
        {
        <div class="mb-3">
            <a class="btn btn-outline-primary" asp-action="AddStaff">Management add staff</a>
        </div>
        <div class="mb-3">
            <a class="btn btn-outline-primary" asp-action="AddCompany">Management add company</a>
        </div>
        }




