@{
    ViewData["Title"] = "Company Schedule";
}
@using Logic.Companys
@using Logic.Shifts
@using Newtonsoft.Json
@using Logic.Schedules
@model IList<CompanySchedule>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Week</th>
            <th scope="col">Schedules</th>
        </tr>
    </thead>
    <tbody>
        @if ( Model != null && Model.Count > 0)
        {
            foreach (CompanySchedule schedule in Model)
            {
                <tr>
                    <th scope="row">@schedule.CurrentWeek</th>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Employee</th>
                                    <th scope="col">Shift</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var scheduleInfo in schedule.CompanyScheduleInfos)
                                {
                                    <tr>
                                        <td>@scheduleInfo.StaffMember.Name</td>
                                        <td>@scheduleInfo.Shift.DayOfWeek</td>
                                        <td>@scheduleInfo.Shift.ShiftHour</td>

                                        <td>
                                            @*<form action="@Url.Action("SetSchedule", "Company")" method="post" onsubmit="CompanyScheduleUi.Schedule = @Html.Raw(JsonConvert.SerializeObject(schedule))">
                                                <button type="submit" class="btn btn-primary">Generate Schedule</button>
                                            </form>*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-@ViewData["MessageType"] role="alert">
        @ViewData["Message"]
    </div>
}


