@{
    ViewData["Title"] = "Company Request Staff";
}

<div class="text-center">
    <p class="display-4">Vraag jouw nodige personeel aan!</p>
</div>
<br />

<div class="p content">
    <form method="post"  asp-action="RequestStaff">
    <div class="form-group">
        <label for="CurrentWeek">Current Week:</label>
        <input type="number" name="CurrentWeek" min="1" max="52" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Occupation">Occupation:</label>
        <select name="Occupation" class="form-control" required>
            @foreach (var occupation in Enum.GetValues(typeof(Logic.Enum.Occupation)))
            {
                <option value="@occupation.ToString()">@occupation.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="DayOfWeek">Day of Week:</label>
        <select name="DayOfWeek" class="form-control" required>
            @foreach (var day in Enum.GetValues(typeof(Logic.Enum.DayOfWeek)))
            {
                <option value="@day.ToString()">@day.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="KindOfShift">Kind of Shift:</label>
        <select name="KindOfShift" class="form-control" required>
            @foreach (var shift in Enum.GetValues(typeof(Logic.Enum.ShiftHour)))
            {
                <option value="@shift.ToString()">@shift.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="DegreeLevel">Degree Level:</label>
        <input type="number" name="DegreeLevel" min="1" max="7" class="form-control" required />
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="mb-3">
    <a class="btn btn-outline-primary" asp-action="Shedule">Zie rooster</a>
</div>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-@ViewData["MessageType"] role="alert">
        @ViewData["Message"]
    </div>
}
