@{
    ViewData["Title"] = "Company Schedule";
}

@model IList<Logic.Schedules.CompanySchedule>
@using Logic.Companys
@using Logic.Shifts
@using Newtonsoft.Json

<table class="table">
    <thead>
        <tr>
            <th scope="col">Week</th>
            <th scope="col">Schedules</th>
        </tr>
    </thead>
    <tbody>
        @if (CurrentActive<Company>.Current.Schedules.Count > 0)
        {
            foreach (var schedule in CurrentActive<Company>.Current.Schedules)
            {
                <tr>
                    <th scope="row">@schedule.CurrentWeek</th>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Employee</th>
                                    <th scope="col">Shift</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var scheduleInfo in schedule.CompanyScheduleInfos)
                                {
                                    <tr>
                                        <td>@scheduleInfo.StaffMember.Name</td>
                                        <td>@scheduleInfo.Shift.DayOfWeek</td>
                                        <td>@scheduleInfo.Shift.ShiftHour</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        } else if (Model.Count > 0 )
        {
            foreach (var schedule in Model)
            {
                <tr>
                    <th scope="row">@schedule.CurrentWeek</th>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Employee</th>
                                    <th scope="col">Shift</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var scheduleInfo in schedule.CompanyScheduleInfos)
                                {
                                    <tr> 
                                        <td>@scheduleInfo.StaffMember.Name</td>
                                        <td>@scheduleInfo.Shift.DayOfWeek</td>
                                        <td>@scheduleInfo.Shift.ShiftHour</td>

                                        <td>
                                            @using (Html.BeginForm("GenereteShedules", "Company", FormMethod.Post))
                                            {
                                                <input type="hidden" name="scheduleObject" value="@Html.Raw(JsonConvert.SerializeObject(schedule))" />
                                                <button type="submit" class="btn btn-primary">Generate Schedule</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
        else if (CurrentActive<Company>.Current.WeeklyNeed.Count > 0)
        {
            <tr>
                <td colspan="2">
                    Please select a week:
                    <form method="post"  asp-action="GenereteShedules">
                        <select name="week" required>
                            @foreach (var weeklyNeed in CurrentActive<Company>.Current.WeeklyNeed)
                            {
                                <option value="@weeklyNeed.WeekNeeded">Week @weeklyNeed.WeekNeeded</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Generate Schedule</button>
                    </form>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2">Please send a request to view schedules.</td>
            </tr>
        }
    </tbody>
</table>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-@ViewData["MessageType"] role="alert">
        @ViewData["Message"]
    </div>
}
